src/main/resources/spring/application.prod.properties
src/main/resources/spring/application.dev.properties
src/main/groovy/org/bookmarks/groovy/DecyptDatabase.groovy
target
src/main/etc/packer/files.tar.bz2
src/main/etc/packer/aws/credentials
src/main/etc/packer/files/tomcat/webapps/ROOT.war
.idea
*.iml
