src/main/resources/spring/application-*.properties
src/main/groovy/org/bookmarks/groovy/DecyptDatabase.groovy
target
src/main/etc/packer/files.tar.bz2
src/main/etc/packer/aws/credentials
src/main/etc/packer/files/tomcat/webapps/ROOT.war
.idea
*.iml
src/main/etc/packer/files/aws/credentials
src/main/etc/terraform/.terraform
src/main/etc/terraform/terraform.tfstate
src/main/etc/terraform/terraform.tfstate.backup
src/main/etc/terraform/vars.tf
